{% extends 'base.html' %}
<title>{{ title }}</title>
{% block content %}
<h1>{{ title }}</h1>
<p id="demo">Paragraph</p>
<p id="demo1"></p>
<p id="demo2"></p>
<p id="demo3"></p>
<p id="demo4"></p>
<p id="demo5"></p>
<p id="demo6"></p>
<p id="demo7"></p>
<p id="demo8"></p>
<p id="demo9"></p>
<p id="demo10"></p>
<p id="demo11"></p>
<p id="demo12"></p>
<p id="demo13"></p>
<p id="demo14"></p>
<p id="demo15"></p>
<p id="demo16"></p>
<p id="demo17"></p>
<p id="demo16"></p>
<p id="demo18"></p>
<p id="demo19"></p>
<p id="demo20"></p>
<p id="demo21"></p>
<p id="demo22"></p>
<p id="demo23"></p>
<p id="demo24"></p>
<p id="demo25"></p>
<p id="demo26"></p>
<p id="demo27"></p>
<p id="demo28"></p>
<p id="demo29"></p>
<p id="demo30"></p>
<p id="demo31"></p>
<p id="demo32"></p>




<script src="{{ url_for('static', path='/script.js') }}"></script>

<button id="button_1" onclick="myFunction()">Try it</button>
<button id="button_2" onclick="myFunctionBack()">Back</button>
<button id="button_3" onclick="myFunction_1()">Dolly</button>
<button onclick="window.print()">Print this page</button>
{{ content }}
{% endblock %}

