{% extends 'base.html' %}

{% block content %}
<h1>Available Rooms</h1>

<div id="public-rooms">
    <h2>Public Rooms</h2>
    <ul>
        <li><a href="/chat/general/main">General Chat</a></li>
        <li><a href="/chat/gaming/main">Gaming</a></li>
        <li><a href="/chat/movies/main">Movies</a></li>
    </ul>
</div>

<div id="private-rooms">
    <h2>Private Rooms</h2>
    <form action="/create_room" method="POST">
        <input type="text" name="name" placeholder="Room name" required>
        <input type="password" name="password" placeholder="Password (optional)">
        <button type="submit">Create Private Room</button>
    </form>
    {% for item in other_rooms %}
        <li><a href="/chat/private/{{item.id}}">{{item.name}}</a></li>
    {% endfor %}
</div>

<div id="users">
    <h2>Available users</h2>
        {% if users %}
            {% for item in users %}
                {%if item.login!= user.login %}
                    <a href="/direct-message-with-{{item.login}}">{{item.login}}</a><br>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>

{% endblock %}