{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
{{ description }}

{% if errors %}
    <div class="alert alert-danger">{{ errors }}</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    <!-- No need for template_action since we're posting to same URL -->

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" 
           value="{{ form_data.email if form_data else '' }}" required>
    
    <!-- New pass Field -->
    <label for="new_password">New password:</label>
    <input type="password" id="new_password" name="new_password" required>
    
    <!-- Submit Button -->
    <button type="submit">Confirm</button>
</form>
{% endblock %}