{% extends 'base.html' %}
{% block content %}
<h1>{{ user.login or 'Anon' }}'s {{ title }}</h1>
{% if user %}
    <form method="post" enctype="multipart/form-data">
        <br><img src="{{ user.photo_url }}" width="200" height="200"><br>
        
        
        <label for="photo">Change Profile Photo:</label>
        <input type="file" id="photo" name="photo"><br>
        
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}"><br>

        
        <label for="email">Login:</label>
        <input type="login" id="login" name="login" value="{{ user.login }}"><br>
        

        <button type="submit">Save Changes</button>
    </form>
    
    <hr>

    <p>Join Date: {{ user.join_date }}</p>
    {% if user.is_active %}
        <p>User {{user.login}} is active now</p>
    {% else %}
        <p>Last Login: {{ user.last_time_login }}</p>
    {% endif %}
    

    {% if user.otp_enabled %}
        <form method="post" action="{{main_prefix}}/auth/mfa/disable">
            <button type="submit">Disable MFA</button>
        </form>
    {% else %}
        <div>
            Warning! MFA is disabled! For better account protection you should to enable MFA
        </div>
        <form method="post" action="{{main_prefix}}/auth/mfa/enable">
            <button type="submit">Enable MFA</button>
        </form>
    {% endif %}


    <hr>
    <a href="{{password_change_url}}">Change password</a>

{% endif %}
{% endblock %}